* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background: #fff;
  color: #000;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
span {
  font-family: "Segoe UI", Verdana, Geneva, sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 2.4em;
}

h3 {
  font-size: 1.8em;
}

section,
footer {
  padding: 24px 40px;
  margin: 20px 0;
}

header {
  height: 80px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.logo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: #0000cc;
}

.logo span {
  font-size: 1.4em;
  text-decoration: underline;
}

.logo small {
  font-size: 0.7em;
  color: #888;
  font-weight: 400;
}

header a,
.hero a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.nav-link a {
  color: #000;
  transition: color 0.3s;
  font-size: 1.1em;
  font-weight: 500;
}

.nav-link a:hover {
  color: #0000cc;
}

.menu {
  display: none;
  cursor: pointer;
}

.menu div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
}

.hero {
  margin: 0;
  height: calc(100vh - 80px);
  background-color: whitesmoke;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.hero h1 {
  font-size: 3em;
}

.hero p {
  margin-bottom: 12px;
}

.hero span {
  color: #0000cc;
  text-decoration: underline;
}

.hero .btn {
  font-size: 1.1em;
  font-weight: 500;
  background-color: #0000cc;
  color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.22);
}

.btn {
  padding: 12px 18px;
  font-size: 0.9em;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  background-color: #ccc;
  transition:
    color,
    background-color,
    transform 0.3s;
}

.btn:hover {
  background-color: #0000cc;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.22);
}

.btn:active {
  border: none;
}

.about span {
  color: #0000cc;
  font-size: 1.5em;
  text-decoration: underline;
}

.learn h2 {
  margin-bottom: 24px;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 44px;
}

.course-card {
  padding: 20px 18px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.22);
}

.course-card p {
  font-size: 1.1em;
}

.course-grid .btn {
  margin-top: auto;
}

#contact fieldset {
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

#contact legend {
  font-size: 1.4em;
}

.form input {
  padding: 12px 18px;
  font-size: 14px;
  border: 1px solid #888;
  border-radius: 8px;
}

.form textarea {
  padding: 12px 18px;
  font-size: 14px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.placeholder:active {
  border: 1px solid #888;
  background: #fff;
}

footer {
  text-align: center;
}

@media (max-width: 550px) {
  .menu {
    display: block;
  }
  .nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    padding: 18px 40px;
    border-radius: 12px;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.22);
  }
  .nav-links.active {
    display: flex;
  }
}
